---
bodyclass: index
language: en
meta:
  author: Kirill Efimov
  description: Sign in page
scripts:
  - ../typescript/index.ts
stylesheets:
  - ../scss/global.scss
  - ../scss/index.scss
title: Sign in
uri: /
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      {{> signin}}
      <button id='clickme'>
        Click me
      </button>
    </main>
  {{/content}}
{{/extend}}
