---
bodyclass: index
language: en
meta:
  author: Kirill Efimov
  description: Sign in page
scripts:
  - ../scripts/index.ts
stylesheets:
  - ../css/global.css
  - ../css/index.css
title: Sign in
uri: /
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <div class='app'>
        <a href="./signup.hbs">Sign up</a>
        <a href="./profile.hbs">Profile</a>
        <a href="./chats.hbs">Chats</a>
        <a href="./change-pwd.hbs">Change password</a>
        <a href="./404.hbs">404</a>
        <a href="./500.hbs">404</a>
      </div>
    </main>
  {{/content}}
{{/extend}}
