---
bodyclass: index
language: en
meta:
  author: Kirill Efimov
  description: Web messanger
scripts:
  - ../index.ts
stylesheets:
  - ../global.less
  - ../markup/pages/profile/profile.css
  - ../markup/pages/chats/chats.less
title: Web messanger
uri: /
---

{{#extend 'base'}}
  {{#content 'main'}}
    <main>
      <div class='app'>
      </div>
    </main>
  {{/content}}
{{/extend}}
