---
bodyclass: index
language: en
meta:
  author: Kirill Efimov
  description: Sign in page
stylesheets:
  - ../scss/global.scss
  - ../scss/index.scss
title: Sign in
uri: /
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      {{> signin}}
    </main>
  {{/content}}
{{/extend}}
