
.chats-container {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  /* border: 1px solid green; */
}

.chats-list-container {
  min-width: 300px;
  width: 40%;
  border: 1px solid #ddd;
  background: #FAFAFA;
}

.chats-list {
  list-style: none;
  padding: 0;
}

.chat-list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4px;
  height: 56px;
  overflow: hidden;
  border-top: 1px solid #ddd;
}

.chat-list-item-1 {
  flex: 1 0 0;
  line-height: 1.6em;
  padding: 8px;
  /* border: 1px dashed brown; */
}

.chat-list-item-2 {
  width: 5px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px dashed blue; */
}

.chat-avatar-container {
  padding: 8px;
}

.chat-avatar {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #eee;
  border: 1px solid #ddd;
}

.chat-list-item-title {
  font-weight: bold;
}

.chat-list-item-last {
  color: #555;
}

.chat-list-item-time {
  color: #555;
  font-size: 11px;
}

.chat-list-item-unread {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #2962ff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
}

.conversation-container {
  border: 1px solid #eee;
  display: flex;
  flex: 1 0 auto;
}

.chats-profile-link-container {
  font-size: 12px;
  text-align: right;
  margin: 8px;
}

.chats-profile-link {
  text-decoration: none;
  color: #555;
}

.chats-search-container {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.chats-search-input {
  width: 90%;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 8px;
}
